# requirements.txt
# Install in a virtualenv or a pipenv
# $ pip install -r requirements.txt
#
PyQt5
opencv-python==4.4.*
opencv-python-headless==4.4.*
matplotlib
numpy
gym==0.17
gym[atari]==0.17
tensorflow==2.*
pillow
pydot
